/* hunter green - 2C5530 */
/* Russian green - 739E82 */
/* lemon yellow crayola - F3FFB6 */
/* raw sienna - D38B5D */
/* golden brown - 99621E */

.mf-banner {
    background-color: #739E82;
}

a.mf-button {
    background-color: #2C5530 !important;
    border-color: #2C5530 !important;
    color: #FFFFFF;
}

a.mf-button:hover {
    background-color: #739E82 !important;
    border-color: #739E82 !important;
    color: #FFFFFF;
}